:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0 50px;
    color: #FFF;
	background-color: var(--dark);
}
  
h1,h3, .p_el_3, .p_el_4 {
    color: var(--grey);
}

.container {
    display: flex;
    gap: 25px;
}

.left {
    width: 50%;
}

.right {
    width: 100%;
}

input, textarea, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

.new-task-input {
    width: 80%;
	background-color: var(--darker);
	padding: 12px 20px;
	border-radius: 5px;
    border: 1px solid;
	margin: 8px;
	color: var(--light);
}

.new-task-input::placeholder {
	color: var(--grey);
}

.new-task-submit {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

.new-task-submit:hover {
	opacity: 0.8;
}

.new-task-submit:active {
	opacity: 0.6;
}

#msg {
    color: red;
}

.task {
	position: relative;
	border: 2px solid #ccc;
  	border-radius: 5px;
  	padding: 16px;
  	margin: 16px 0
}

.main_div{
	display: flex;
	gap: 15px;
}

.name_n_statement{
	width: 100%;
}

.profile-pic-div {
	position: relative;
}

.photo {
	height: 200px;
    width: 200px;
	border-radius: 50%;
}

.file {
	display: none;
}

#uploadBtn img{
	height: 30px;
	width: 30px;
	position: absolute;
	left: 180px;
	bottom: 25px;
	cursor: pointer;
}

.name_n_statement{
	display: flex;
	gap: 0;
	flex-direction: column;
}

.p_el_2{
	height: 100%;
}

.p_el_2 textarea{
	height: 100%;
	font-style: italic;
}

li input{
	width: 100%;
}

.p_el_4 textarea{
	width: 100%;
	height: auto;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}


.task .actions {
	position: absolute;
	right: 0;
	bottom: 5px;	
}

.task .actions button {
	cursor: pointer;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
	margin-right: 15px;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}
